@import './partials/header';
@import './partials/footer';
@import './partials/reset';
@import './partials/variables';




/* Fin NAV */


body{
   position: relative;
   width: 100%;
   height: 100%;
   background-color: rgba(19, 18, 18, 0.849);
}

/* Titulo */
.imagen-titulo{
   background-image: url(../img/yerba-suelta.webp);
   background-size:contain;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   font-size: 10rem;
   font-weight: bold;
   text-decoration: solid;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.74);
   display: flex;
   justify-content: center;
   align-items: center;

}


.section_home .intro_index {
      padding: 50px 20px;
      text-align: center;
      color: white;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, .45);
      box-shadow: 1px 1px 5px rgb(63, 72, 30);
   }
   
   /* Inicio - estilos cards Index- Instructivo*/
   .contenedor-instructivo{
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      justify-content: center;
      height: 100%;
      
   }
   .contenido-card{
      display: flex;
      width: 800px;
      height: auto;
      background: #fff;
      padding: 0 20px;
      border-radius: 2px;
      box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
      transition: .2s;
      
   }
   .contenido-card:hover .foto-card{
      box-shadow: 1px 1px 8px 8px rgba(63, 72, 30, 0.692);
      
   }
   
   .titulo-instructivo{ 
      display: block;
      position: relative;
      width: 300vh;
   }
   .descripcion-instructivo{
      background-color: rgb(63, 72, 30);
      border-radius: 5%;
      border: none;
      color: #fff;
      position: relative;
      text-align: center;
      justify-content: center;
      
   }
   .descripcion-instructivo p{
      margin: 20px 30px;
   }
   .titulo-instructivo, .descripcion-instructivo{
      padding: 20px;
      text-align: center;
   }
   .titulo-instructivo .foto-card{
      box-shadow: 0 0 0 8px rgba(0, 0, 0, .06);
      width: 100%;
      margin: 40px 0px 10px -15px;
   
   }

   /* Video */
   
   .video {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
   }
   .contenedor-video {
      text-align: center;
   }
   .titulo_video {
      color: white;
   font-size: large bold;
   text-align: center;
}




/* Formulario  - Contacto */
section {
   display: flex;
   align-items: center;
   justify-content: center;

}
 
 .formulario-container {
   max-width: 700px;
   margin: 30px;
   background-color:rgb(63, 72, 30);
   padding: 30px;
   border-left: 5px solid white;
   clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
 }
 
 .encabezado-form {
   display: block;
   color: white;
   font-size: 1.5rem;
   font-weight: 800;
   margin-bottom: 20px;
 }
 ::placeholder{
   color: whitesmoke;
 }
 
 .formulario-container .formulario .input {
   color: white;
   width: 100%;
   background-color: rgb(157, 179, 79);
   border: none;
   outline: none;
   padding: 10px;
   margin-bottom: 20px;
   font-weight: bold;
   transition: all 0.2s ease-in-out;
   border-left: 1px solid transparent;
 }
 
 .formulario-container .formulario .input:focus {
   border-left: 5px solid white;
 }
 
 .formulario-container .formulario .area-texto {
   width: 100%;
   padding: 10px;
   border: none;
   outline: none;
   background-color: rgb(157, 179, 79);
   color: white;
   font-weight: bold;
   resize: none;
   max-height: 150px;
   margin-bottom: 20px;
   border-left: 1px solid transparent;
   transition: all 0.2s ease-in-out;
 }
 
 .formulario-container .formulario .area-texto:focus {
   border-left: 5px solid white;
 }
 
 .formulario-container .formulario .boton-container {
   display: flex;
   gap: 10px;
 }
 
 .formulario-container .formulario .boton-container .send-boton {
   flex-basis: 70%;
   background: white;
   padding: 10px;
   color: #001925;
   text-align: center;
   font-weight: bold;
   border: 1px solid transparent;
   transition: all 0.2s ease-in-out;
 }
 
 .formulario-container .formulario .boton-container .send-boton:hover {
   background: transparent;
   border: 1px solid  rgb(157, 179, 79);
   color:  rgb(157, 179, 79);
   
 }
 
 
 
/*Fin formulario*/



.texto_yerba {
   border: 1px solid black;
   justify-items: auto;
   width: 80% ;
   height: 50px;
   overflow: auto;
   background-color: rgb(180, 180, 180);
}

/* Inicio - estlilo de las card - productos / accesorios */

/* Grid para las cards */

.conteiner_productos{
   width: 100%;
   padding: 2rem ;
   height: 100%;
   margin-left: 8%;
   display: grid;
   gap: 0.5rem;
   grid-template-columns: repeat(3, 1fr);
}

.card{
   width: 50%;
   height: 400px;
   background-color: rgb(63, 72, 30);
   border-radius: 5px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, .45);
      
}
.card:hover{
   box-shadow: 1px 1px 8px 8px rgba(3, 3, 2, 0.692);
}
.card img{
      border-radius: 5px 5px 0 0;
      width: 100%;
      height: 350px;
      object-fit:cover;
   }
   .card .card_container {
      width: 100%;
      padding: 10px;
      font-size: .80rem;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      
   }
   .card .content_card{
      display: flex;
      justify-content:center;
      align-items:center;
      font-size: 1rem;
      color: white;
   }
   .content_card p{
      text-align: center;
   }

   .card_container .texto_producto{
      display: flex;
      text-align: center;
      justify-content: center;

   }

   .direction{
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2rem;
      text-decoration:wavy;
   }
   .direction:hover {
      text-decoration:underline solid;
      color: black;
      text-shadow: 1px 1px 5px rgb(63, 72, 30);
   }
   /*botones */
   .boton_abajo {
      border-radius: 4px;
      font-size: 20px;
      transition-duration: 0.4s;
      
   }
   .boton_abajo:hover {
      background-color: rgb(63, 72, 30); 
      color: white;
   }
   
   .boton_video{
      border-radius: 4px;
      font-size: 20px;
      transition-duration: 0.4s;
   }
   
   .boton_video:hover {
      background-color: rgb(63, 72, 30); 
      color: white;
   }

   
   /*estilos de la pagina "nosotros" */
   .carousel_container {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .carousel-nosotros{
      
      height: 400px;
      width: 600px;
   }
   .nuestra_historia {
      
      text-align: center;
      margin-top: 20px;
      font-style:oblique;
      font-weight: bold;
      font-size: 2rem;
      gap: 5px;
      color:white;
      background-color: transparent;
      width: 100% ;
      height:fit-content;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, .45);
      
   }
   /* Inicio estilos - Contacto*/
   .encontranos{
      color: white;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .map{
      background-color: rgb(63, 72, 30);
   }
   /* pag - error-404 */
   main{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      color: white;

   }
   .error-404 .titulo-error-404 .mensaje-error {
      color: white;
      justify-content: space-evenly;


   }
   
   
   @import './partials/queries';
   