@media (max-width: 1100px) {
    .conteiner_productos {
       grid-template-columns: repeat(2, 1fr);
   }
   .como_mate {
       grid-template-columns: repeat(1, 1fr);
   }
   .imagen-titulo {
    text-align: center;
    background-image: url(../img/yerba-suelta.webp);
    background-size:contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 10rem;
    font-weight: bold;
    text-decoration: solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .nuestra_historia{
    gap: 0;
    margin-top: 0;
    font-size: 1.5rem;
   }
 
 
 }
 
 @media (max-width:768px) {
    .conteiner_productos {
       grid-template-columns: repeat(2, 1fr);
   }
   .como_mate {
       grid-template-columns: repeat(1, 1fr);
   }
   .imagen-titulo {
    text-align: center;
    background-image: url(../img/yerba-suelta.webp);
    background-size:contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem;
    font-weight: bold;
    text-decoration: solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .nuestra_historia{
    gap: 0;
    margin-top: 0;
    font-size: 1rem;
   }
   /*estilos card instructivo*/
   .contenedor-instructivo{
    height: auto;
   }
   .contenido-card{
   display: block;
   background-color:rgb(63, 72, 30);
   width: 500px;
   height: auto;
   }
   .contenido-card:hover .foto-card{
    box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, 0.692);}

   .titulo-instructivo{
    
    width: auto;
    padding: 20px 20px 5px 20px;
    border:none;
    color: white;
    
   }
   .foto-card{
    margin: 40px 0px 10px -15px;
   }
   .descripcion-instructivo{
    
    background-color: white;
    color: black;
    width: 100%;
    margin: 0;
   }

   .encontranos{
    font-size: 1.5rem;
   }
 }
 
 
 
 
 @media (max-width:475px) {
    .conteiner_productos {
        grid-template-columns: repeat(1, 1fr);
    }
    .como_mate {
       grid-template-columns: repeat(1, 1fr);
   }
   .imagen-titulo {
    text-align: center;
    background-image: url(../img/yerba-suelta.webp);
    background-size:contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4rem;
    font-weight: bold;
    text-decoration: solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
   }
 /*estilos card instructivo*/
 .contenedor-instructivo{
    height: auto;
   }
   .contenido-card{
   display: block;
   background-color:rgb(63, 72, 30);
   width: 400px;
   height: auto;
   }
   .contenido-card:hover .foto-card{
    box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, 0.692);}

   .titulo-instructivo{
    
    width: auto;
    padding: 20px 20px 5px 20px;
    border:none;
    color: white;
    
   }
   .foto-card{
    margin: 40px 0px 10px -15px;
   }
   .descripcion-instructivo{
    
    background-color: white;
    color: black;
    width: 100%;
    margin: 0;
   }
   .encontranos{
    font-size: 1.3rem;
   }
 }